#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Section: Pages */
/* Course */


/* Course Details */


/* Login */



/* Section: Components */
/* Button */


/* Card */


/* Header */

